name: Publication task

on:
  release:
    types: [published]
    branches:
    - master

jobs:
  generateJavadoc:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2.3.4
      with:
        ref: 'master'
    - name: Set up Java 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 1.11
    - name: Generate Javadoc
      run: ./gradlew javadoc
    - name: Push changes
      uses: peaceiris/actions-gh-pages@v3.8.0
      with: 
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        commit_message: "Update Docs"
  generateJars:
    needs: [generateJavadoc]
    if: success()
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2.3.4
    - name: Set up Java 11
      uses: actions/setup-java@v2
      with: 
        distribution: 'adopt'
        java-version: 1.11
    - name: Generate Jars
      run: ./gradlew build
    - name: Zip files
      working-directory: ./build/libs
      run: zip JavaBotBlockAPI-${{ github.event.release.tag_name }}.zip *.jar
    - name: Upload files
      uses: AButler/upload-release-assets@v2.0
      with: 
        files: 'build/libs/JavaBotBlockAPI-${{ github.event.release.tag_name }}.zip;build/libs/*.jar'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
  sendMessage:
    needs: [generateJars]
    if: success()
    runs-on: ubuntu-latest
    steps:
    - name: Discord notification
      uses: rjstone/discord-webhook-notify@v1
      with:
        webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
        severity: info
        avatarUrl: 'https://docs.botblock.org/JavaBotBlockAPI/assets/img/jbba.png'
        username: 'New release'
        text: '${{ github.event.release.name }}'
        description: '[**Release Information**](${{ github.event.release.html_url }})'
        details: '${{ github.event.release.body }}'
        footer: 'Version ${{github.event.release.tag_name}}'
